n8n/workflows/Financy - AI Investment Advisor.json
{
  "name": "Financy - AI Investment Advisor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "advisor-search",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "ddf0a382-3558-4373-9123-c0ed214366e4",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [
        -496,
        -288
      ],
      "webhookId": "1b6d67b9-f9b3-4e6c-a51f-1b8cdc02ed35"
    },
    {
      "parameters": {
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "=Extract investment criteria from from {{ $json.query }}  . Return ONLY a JSON object (no markdown).                                                             \n                                                                         **SECTOR MAPPING:**\n  - tech/tecnologia/technology → \"Technology\"\n  - salute/healthcare/pharma/farmaceutico → \"Healthcare\"\n  - finanza/finance/banking/banche → \"Financial Services\"\n  - comunicazione/telecom/media → \"Communication Services\"\n  - consumo/consumer/retail → \"Consumer Cyclical\"\n  - materiali/materials/mining → \"Basic Materials\"\n  - utilities/servizi pubblici → \"Utilities\"\n  - immobiliare/real estate → \"Real Estate\"\n\n  **SPECIAL CASES:**\n  - green/verde/sostenibile/ESG/renewable/rinnovabili/clean energy/solar/wind:\n    → DO NOT use sectors (green companies are in multiple sectors!)\n    → USE keywords: [\"renewable\", \"solar\", \"wind\", \"clean\", \"sustainable\", \"ESG\", \"electric\", \"battery\", \"hydro\"]\n\n  - oil/petrolio/gas/fossil:\n    → sectors: [\"Energy\"]\n    → keywords: [\"oil\", \"gas\", \"petroleum\", \"fossil\"]\n\n  **ASSET TYPES:**\n  - stock/azioni/titoli → \"stock\"\n  - ETF/fondi → \"etf\"\n  - crypto/criptovalute → \"crypto\"\n\n  **RISK:**\n  - basso rischio/conservativo/safe → \"low\"\n  - medio rischio/moderato → \"medium\"\n  - alto rischio/aggressivo/volatile → \"high\"\n\n  **Response format:**\n  {\"sectors\":[],\"assetTypes\":[],\"riskLevel\":null,\"keywords\":[]}\n\n  **Examples:**\n  \"tech\" → {\"sectors\":[\"Technology\"],\"assetTypes\":[\"stock\",\"etf\"],\"riskLevel\":null,\"keywords\":[]}\n  \"green energy\" →\n  {\"sectors\":[],\"assetTypes\":[\"stock\",\"etf\"],\"riskLevel\":null,\"keywords\":[\"renewable\",\"solar\",\"wind\",\"clean\",\"sustainable\",\"ESG\",\"electric\"]}\n  \"oil and gas\" → {\"sectors\":[\"Energy\"],\"assetTypes\":[\"stock\"],\"riskLevel\":null,\"keywords\":[\"oil\",\"gas\"]}",
              "role": "system"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.3
        }
      },
      "id": "3ef8be3c-7015-4441-915b-3f9515df287a",
      "name": "AI - Extract Criteria",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        -80,
        -64
      ],
      "credentials": {
        "openAiApi": {
          "id": "jVRytDg0VDYAWrLp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // Parse AI response and build SQL query\n  const aiResponse = $input.item.json;\n\n  // Get original query\n  const originalQuery = $input.first().json.query || 'investimenti generici';\n\n  // Extract criteria from AI response - FIX: handle LangChain response format\n  let criteria;\n  try {\n    // Try different response formats\n    let content;\n\n    if (Array.isArray(aiResponse) && aiResponse[0]?.message?.content) {\n      // LangChain format: array with choices\n      content = aiResponse[0].message.content;\n    } else if (aiResponse.choices?.[0]?.message?.content) {\n      // OpenAI API format\n      content = aiResponse.choices[0].message.content;\n    } else if (aiResponse.message?.content) {\n      // Direct message format\n      content = aiResponse.message.content;\n    } else if (aiResponse.output) {\n      // Output format\n      content = aiResponse.output;\n    } else if (aiResponse.text) {\n      // Text format\n      content = aiResponse.text;\n    } else {\n      // Fallback\n      content = JSON.stringify(aiResponse);\n    }\n\n    // Clean markdown code blocks\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    criteria = JSON.parse(cleaned);\n\n    console.log('Parsed criteria:', criteria);\n  } catch (e) {\n    console.error('Failed to parse AI criteria:', e);\n    criteria = { sectors: [], assetTypes: ['stock', 'etf'], riskLevel: null, keywords: [] };\n  }\n\n  // Build WHERE clause\n  let whereConditions = [];\n\n  // Asset types filter\n  if (criteria.assetTypes && criteria.assetTypes.length > 0) {\n    const types = criteria.assetTypes.map(t => `'${t}'`).join(',');\n    whereConditions.push(`a.type::text IN (${types})`);\n  } else {\n    whereConditions.push(\"a.type::text IN ('stock', 'etf', 'crypto')\");\n  }\n\n  // Price filter\n  whereConditions.push('a.current_price > 0');\n\n  // Sectors filter - IMPORTANTE!\n  if (criteria.sectors && criteria.sectors.length > 0) {\n    const sectors = criteria.sectors.map(s => `'${s}'`).join(',');\n    whereConditions.push(`a.sector IN (${sectors})`);\n  }\n\n  // Keywords filter\n  if (criteria.keywords && criteria.keywords.length > 0) {\n    const keywordConditions = criteria.keywords.map(kw =>\n      `(LOWER(a.name) LIKE '%${kw.toLowerCase()}%' OR LOWER(a.symbol) LIKE '%${kw.toLowerCase()}%')`\n    ).join(' OR ');\n    whereConditions.push(`(${keywordConditions})`);\n  }\n\n  const whereClause = whereConditions.join(' AND ');\n\n  // Build ORDER BY\n  let orderBy = `\n    CASE\n      WHEN a.sector IS NOT NULL THEN 0\n      ELSE 1\n    END,\n    a.market_cap DESC NULLS LAST,\n    a.volume DESC\n  `;\n\n  if (criteria.sectors && criteria.sectors.length > 0) {\n    const sectorCases = criteria.sectors.map((s, i) =>\n      `WHEN a.sector = '${s}' THEN ${i}`\n    ).join(' ');\n    orderBy = `\n      CASE ${sectorCases} ELSE 100 END,\n      a.market_cap DESC NULLS LAST,\n      a.volume DESC\n    `;\n  }\n\n  const query = `\n  SELECT\n    a.id,\n    a.symbol,\n    a.name,\n    a.type::text as type,\n    a.sector,\n    a.exchange,\n    a.current_price,\n    a.currency,\n    a.change_percent,\n    a.market_cap,\n    a.volume\n  FROM assets a\n  WHERE ${whereClause}\n  ORDER BY ${orderBy}\n  LIMIT 50\n  `;\n\n  return {\n    query,\n    criteria,\n    originalQuery\n  };"
      },
      "id": "c53a9129-acef-4220-b95d-5b69255ef0fb",
      "name": "Build Dynamic Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.query }}",
        "options": {}
      },
      "id": "7a0d0b8b-741c-4913-b2ba-1ae2bae24f7b",
      "name": "Execute Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        448,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Calculate historical performance using price_history data\nconst assets = $input.all();\nconst queryData = $('Build Dynamic Query').item.json;\n\nif (assets.length === 0) {\n  return {\n    noResults: true,\n    originalQuery: queryData.originalQuery\n  };\n}\n\n// Get all asset IDs for historical query\nconst assetIds = assets.map(a => `'${a.json.id}'`).join(',');\n\n// Single query that gets assets WITH historical performance\nconst combinedQuery = `\nWITH asset_list AS (\n  SELECT id, symbol, name, type::text, sector, exchange, \n         current_price, currency, change_percent, market_cap, volume\n  FROM assets\n  WHERE id IN (${assetIds})\n),\nlatest_prices AS (\n  SELECT \n    asset_id,\n    date,\n    close,\n    ROW_NUMBER() OVER (PARTITION BY asset_id ORDER BY date DESC) as rn\n  FROM price_history\n  WHERE asset_id IN (${assetIds})\n    AND date >= CURRENT_DATE - INTERVAL '90 days'\n),\nprice_7d AS (\n  SELECT asset_id, close as close_7d FROM latest_prices WHERE rn = 7\n),\nprice_30d AS (\n  SELECT asset_id, close as close_30d FROM latest_prices WHERE rn = 30\n),\nprice_90d AS (\n  SELECT asset_id, close as close_90d FROM latest_prices WHERE rn = 90\n),\ncurrent_price_hist AS (\n  SELECT asset_id, close as close_current FROM latest_prices WHERE rn = 1\n),\nvolatility AS (\n  SELECT \n    asset_id,\n    STDDEV(close) / NULLIF(AVG(close), 0) * 100 as volatility_pct\n  FROM latest_prices\n  WHERE rn <= 30\n  GROUP BY asset_id\n)\nSELECT \n  a.*,\n  CASE WHEN p7.close_7d > 0 \n    THEN ((a.current_price - p7.close_7d) / p7.close_7d * 100) \n    ELSE NULL END as perf_7d,\n  CASE WHEN p30.close_30d > 0 \n    THEN ((a.current_price - p30.close_30d) / p30.close_30d * 100) \n    ELSE NULL END as perf_30d,\n  CASE WHEN p90.close_90d > 0 \n    THEN ((a.current_price - p90.close_90d) / p90.close_90d * 100) \n    ELSE NULL END as perf_90d,\n  v.volatility_pct\nFROM asset_list a\nLEFT JOIN price_7d p7 ON a.id = p7.asset_id\nLEFT JOIN price_30d p30 ON a.id = p30.asset_id\nLEFT JOIN price_90d p90 ON a.id = p90.asset_id\nLEFT JOIN volatility v ON a.id = v.asset_id\n`;\n\nreturn { \n  combinedQuery,\n  originalQuery: queryData.originalQuery,\n  criteria: queryData.criteria\n};"
      },
      "id": "build-historical-query",
      "name": "Build Historical Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        540,
        -96
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "={{ $json.combinedQuery }}",
        "options": {}
      },
      "id": "fetch-historical-data",
      "name": "Fetch Assets With History",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        640,
        -96
      ],
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Format assets with historical performance data\nconst assetsWithHistory = $input.all();\nconst queryBuilderData = $input.first().json;\n\nif (assetsWithHistory.length === 0) {\n  return {\n    noResults: true,\n    originalQuery: queryBuilderData.originalQuery\n  };\n}\n\n// Format assets with FULL market data + historical performance\nconst assetsFormatted = assetsWithHistory.map(item => {\n  const data = item.json;\n  const marketCap = data.market_cap;\n  const volume = data.volume;\n  const changePercent = data.change_percent;\n  \n  // Calculate market cap category\n  let capCategory = 'Unknown';\n  if (marketCap) {\n    if (marketCap > 200000000000) capCategory = 'Mega Cap (>200B)';\n    else if (marketCap > 10000000000) capCategory = 'Large Cap (10B-200B)';\n    else if (marketCap > 2000000000) capCategory = 'Mid Cap (2B-10B)';\n    else if (marketCap > 300000000) capCategory = 'Small Cap (300M-2B)';\n    else capCategory = 'Micro Cap (<300M)';\n  }\n  \n  // Determine trend based on multi-timeframe performance\n  let trend = 'Neutral';\n  const perf7d = data.perf_7d || 0;\n  const perf30d = data.perf_30d || 0;\n  const perf90d = data.perf_90d || 0;\n  \n  if (perf7d > 0 && perf30d > 0 && perf90d > 0) {\n    trend = 'Strong Uptrend';\n  } else if (perf7d > 0 && perf30d > 0) {\n    trend = 'Uptrend';\n  } else if (perf7d < 0 && perf30d < 0 && perf90d < 0) {\n    trend = 'Strong Downtrend';\n  } else if (perf7d < 0 && perf30d < 0) {\n    trend = 'Downtrend';\n  } else if (perf7d > 0 && perf30d < 0) {\n    trend = 'Recovering';\n  } else if (perf7d < 0 && perf30d > 0) {\n    trend = 'Pullback';\n  }\n  \n  return {\n    symbol: data.symbol,\n    name: data.name,\n    type: data.type,\n    sector: data.sector || 'N/A',\n    exchange: data.exchange || 'N/A',\n    price: data.current_price,\n    currency: data.currency,\n    // CURRENT MARKET METRICS\n    changePercent: changePercent || 0,\n    marketCap: marketCap || 0,\n    marketCapFormatted: marketCap ? `$${(marketCap / 1000000000).toFixed(2)}B` : 'N/A',\n    capCategory: capCategory,\n    volume: volume || 0,\n    volumeFormatted: volume ? volume.toLocaleString() : 'N/A',\n    // HISTORICAL PERFORMANCE\n    perf7d: perf7d ? perf7d.toFixed(2) + '%' : 'N/A',\n    perf30d: perf30d ? perf30d.toFixed(2) + '%' : 'N/A',\n    perf90d: perf90d ? perf90d.toFixed(2) + '%' : 'N/A',\n    volatility: data.volatility_pct ? data.volatility_pct.toFixed(2) + '%' : 'N/A',\n    trend: trend\n  };\n});\n\nreturn {\n  assets: JSON.stringify(assetsFormatted.slice(0, 30), null, 2),\n  assetCount: assetsFormatted.length,\n  originalQuery: queryBuilderData.originalQuery,\n  criteria: queryBuilderData.criteria\n};"
      },
      "id": "dfd35ad7-e56d-4d6b-a2d7-adc8948bd29d",
      "name": "Prepare for AI",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        840,
        -144
      ]
    },
    {
      "parameters": {
        "modelId": "gpt-4o",
        "messages": {
          "values": [
            {
              "content": "Sei un consulente finanziario esperto. Ti vengono forniti asset già filtrati in base alla richiesta dell'utente.\n\nAnalizza attentamente:\n- **changePercent**: performance recente (positivo = in crescita, negativo = in calo)\n- **marketCap**: capitalizzazione (Mega/Large cap = stabili, Small/Micro cap = rischiosi ma potenziale alto)\n- **volume**: liquidità (alto = molto tradato, basso = illiquido/rischioso)\n- **capCategory**: categoria di capitalizzazione\n\nIl tuo compito:\n1. Selezionare i 10 MIGLIORI asset basandoti su:\n   - Rilevanza alla richiesta utente\n   - Performance recente (changePercent)\n   - Solidità (marketCap e capCategory)\n   - Liquidità (volume)\n   - Bilanciamento rischio/rendimento\n\n2. Per ogni asset spiega:\n   - Perché è adatto alla richiesta\n   - Come i dati di mercato supportano la scelta\n   - Rischi e opportunità basati sui numeri reali\n\nPer ogni asset, restituisci:\n- symbol: simbolo dell'asset\n- reason: spiegazione dettagliata in italiano (2-3 frasi) che DEVE menzionare i dati di mercato (es: \"in crescita del X%\", \"capitalizzazione di Y miliardi\", \"alto volume di scambi\")\n- score: punteggio 0-100 (basato su quanto matcha la richiesta E qualità metriche)\n- riskLevel: \"low\", \"medium\", \"high\" (considera capCategory e changePercent)\n- expectedReturn: rendimento annuale stimato % (realistico, basato su changePercent e sector)\n- timeHorizon: \"short\", \"medium\", \"long\"\n\nRestituisci SOLO un array JSON, senza markdown.",
              "role": "system"
            },
            {
              "content": "=Richiesta originale: {{ $json.originalQuery }}\n\nAsset con dati di mercato ({{ $json.assetCount }} trovati):\n{{ $json.assets }}\n\nAnalizza i dati di mercato e seleziona i 10 migliori asset."
            }
          ]
        },
        "options": {
          "maxTokens": 3000,
          "temperature": 0.7
        }
      },
      "id": "f4114756-a419-4051-aea2-2a79c186e13a",
      "name": "AI - Rank & Explain",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.4,
      "position": [
        848,
        -224
      ],
      "credentials": {
        "openAiApi": {
          "id": "jVRytDg0VDYAWrLp",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "  // Parse AI response and merge with full asset data                                                                                                   \n  const allAssets = $('Execute Query').all();                                                                                                           \n  const prepData = $('Prepare for AI').item.json;                                                                                                       \n  const aiResponse = $input.item.json;                                                                                                                  \n                                                                                                                                                        \n  // Check if no results\n  if (prepData.noResults) {\n    return {\n      suggestions: [],\n      message: `Nessun asset trovato per la tua ricerca: \"${prepData.originalQuery}\". Prova con criteri diversi.`\n    };\n  }\n\n  // Parse AI suggestions - FIX: handle LangChain format\n  let aiSuggestions = [];\n  try {\n    // Try different response formats\n    let content;\n\n    if (Array.isArray(aiResponse) && aiResponse[0]?.message?.content) {\n      // LangChain format: array with choices\n      content = aiResponse[0].message.content;\n    } else if (aiResponse.choices?.[0]?.message?.content) {\n      // OpenAI API format\n      content = aiResponse.choices[0].message.content;\n    } else if (aiResponse.message?.content) {\n      // Direct message format\n      content = aiResponse.message.content;\n    } else if (aiResponse.output) {\n      // Output format\n      content = aiResponse.output;\n    } else if (aiResponse.text) {\n      // Text format\n      content = aiResponse.text;\n    } else {\n      // Fallback\n      content = JSON.stringify(aiResponse);\n    }\n\n    // Clean markdown code blocks\n    const cleaned = content.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n    aiSuggestions = JSON.parse(cleaned);\n\n    if (!Array.isArray(aiSuggestions)) {\n      aiSuggestions = [aiSuggestions];\n    }\n\n    console.log('Parsed AI suggestions:', aiSuggestions.length, 'items');\n  } catch (e) {\n    console.error('Failed to parse AI suggestions:', e);\n    // Fallback: return first 10 assets\n    aiSuggestions = allAssets.slice(0, 10).map((asset, i) => ({\n      symbol: asset.json.symbol,\n      reason: `Asset selezionato in base ai criteri di ricerca`,\n      score: 80 - (i * 5),\n      riskLevel: 'medium',\n      expectedReturn: 8,\n      timeHorizon: 'medium'\n    }));\n  }\n\n  // Merge with full asset data\n  const suggestions = aiSuggestions.map(suggestion => {\n    const asset = allAssets.find(a => a.json.symbol === suggestion.symbol);\n\n    if (!asset) {\n      console.log('Asset not found:', suggestion.symbol);\n      return null;\n    }\n\n    return {\n      id: asset.json.id,\n      symbol: asset.json.symbol,\n      name: asset.json.name,\n      currentPrice: parseFloat(asset.json.current_price || 0),\n      currency: asset.json.currency || 'EUR',\n      type: asset.json.type || 'stock',\n      sector: asset.json.sector || 'N/A',\n      exchange: asset.json.exchange || 'N/A',\n      reason: suggestion.reason || 'Match trovato in base alla tua ricerca',\n      score: suggestion.score || 50,\n      expectedReturn: suggestion.expectedReturn,\n      riskLevel: suggestion.riskLevel || 'medium',\n      timeHorizon: suggestion.timeHorizon || 'medium'\n    };\n  }).filter(Boolean);\n\n  console.log('Final suggestions:', suggestions.length, 'items');\n\n  return { suggestions };"
      },
      "id": "16929494-65a0-43d5-8887-47f4bf52ba6d",
      "name": "Merge Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1136,
        -96
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "f178e256-cf94-4cb8-8aa6-84263d32b205",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1408,
        128
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -512,
        128
      ],
      "id": "22ab3b85-cc7c-4453-bb9e-b9424e5d96dc",
      "name": "When chat message received",
      "webhookId": "d788d06e-729c-4b35-8f7e-466bcde65135"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "988eda83-3814-4b69-a1a2-78f11c090cd9",
              "name": "query",
              "value": "={{ $json.body.query }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -288,
        -192
      ],
      "id": "de3e3c76-2f6c-476e-9886-ca1914db72ed",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "988eda83-3814-4b69-a1a2-78f11c090cd9",
              "name": "query",
              "value": "={{ $json.chatInput }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -304,
        48
      ],
      "id": "c748cd47-7717-4a57-a685-bc2ed7e1b05b",
      "name": "Edit Fields1"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Extract Criteria": {
      "main": [
        [
          {
            "node": "Build Dynamic Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Dynamic Query": {
      "main": [
        [
          {
            "node": "Execute Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Query": {
      "main": [
        [
          {
            "node": "Build Historical Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Historical Query": {
      "main": [
        [
          {
            "node": "Fetch Assets With History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Assets With History": {
      "main": [
        [
          {
            "node": "Prepare for AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for AI": {
      "main": [
        [
          {
            "node": "AI - Rank & Explain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI - Rank & Explain": {
      "main": [
        [
          {
            "node": "Merge Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Results": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "AI - Extract Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "AI - Extract Criteria",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "7",
  "id": "advisor-search-v7",
  "meta": {
    "instanceId": "financy-advisor-working",
    "templateCredsSetupCompleted": true
  },
  "tags": []
}
