n8n/workflows/Financy - AI Trading Suggestions (Complete).json
{
  "name": "Financy - AI Trading Suggestions (Complete)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trading-suggestions",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "bdc80c42-ab18-498e-bc43-297e2f605941",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -1120,
        -144
      ],
      "webhookId": "trading-suggestions"
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst userId = input.body?.userId || input.userId || null;\nreturn [{ json: { userId } }];"
      },
      "id": "a792a56f-9def-4c19-ad59-edd1a8b0c741",
      "name": "Extract UserId",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=SELECT tp.*, array_agg(DISTINCT ta.\"asset_id\") FILTER (WHERE ta.status IN ('watching', 'bought')) as \"existingAssetIds\"\nFROM \"trading_profiles\" tp\nLEFT JOIN \"trading_assets\" ta ON ta.\"profile_id\" = tp.id\nWHERE tp.\"user_id\" = '{{ $json.userId }}'\nGROUP BY tp.id",
        "options": {}
      },
      "id": "168bf052-fba6-4ed0-bfe2-efda02b7d361",
      "name": "Get Trading Profile",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        -672,
        -64
      ],
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " const profileNode = $('Get Trading Profile').first().json;                                                                                                    \n  const allItems = $input.all();                                                                                                                                \n                                                                                                                                                                \n  // Separate Yahoo data from excluded symbols                                                                                                                  \n  const yahooData = [];                                                                                                                                         \n  const excludedSymbolsData = [];                                                                                                                               \n                                                                                                                                                                \n  for (const item of allItems) {                                                                                                                                \n    if (item.json.finance) {                                                                                                                                    \n      yahooData.push(item);                                                                                                                                     \n    } else if (item.json.symbol) {                                                                                                                              \n      excludedSymbolsData.push(item);                                                                                                                           \n    }                                                                                                                                                           \n  }                                                                                                                                                             \n                                                                                                                                                                \n  console.log('Yahoo data items:', yahooData.length);                                                                                                           \n  console.log('Excluded symbols items:', excludedSymbolsData.length);                                                                                           \n                                                                                                                                                                \n  // Build excluded symbols set                                                                                                                                 \n  const excludedSymbols = new Set(excludedSymbolsData.map(item => item.json.symbol));                                                                           \n  console.log('Excluding', excludedSymbols.size, 'symbols');                                                                                                    \n                                                                                                                                                                \n  // Profile data                                                                                                                                               \n  const profile = {                                                                                                                                             \n    id: profileNode.id,                                                                                                                                         \n    horizon: profileNode.horizon || 'medium',                                                                                                                   \n    risk_tolerance: profileNode.risk_tolerance || 'moderate',                                                                                                   \n    trading_style: profileNode.trading_style || 'swing',                                                                                                        \n    preferred_sectors: profileNode.preferred_sectors || []                                                                                                      \n  };                                                                                                                                                            \n                                                                                                                                                                \n  // Scoring configuration                                                                                                                                      \n  const horizonScores = {                                                                                                                                       \n    short: { trending: 4, gainers: 5, losers: 4, active: 5, undervalued: 1, growth: 2, volatilityBonus: 3 },                                                    \n    medium: { trending: 3, gainers: 3, losers: 3, active: 3, undervalued: 3, growth: 3, volatilityBonus: 1 },                                                   \n    long: { trending: 1, gainers: 1, losers: 2, active: 1, undervalued: 5, growth: 4, volatilityBonus: 0 }                                                      \n  };                                                                                                                                                            \n                                                                                                                                                                \n  const riskMultipliers = {                                                                                                                                     \n    conservative: { volatility: 0.3, losers: 0.5, undervalued: 1.5 },                                                                                           \n    moderate: { volatility: 1, losers: 1, undervalued: 1 },                                                                                                     \n    aggressive: { volatility: 2, losers: 1.5, undervalued: 0.7 }                                                                                                \n  };                                                                                                                                                            \n                                                                                                                                                                \n  const styleModifiers = {                                                                                                                                      \n    momentum: { trending: 1.3, gainers: 1.5, losers: 0.8, undervalued: 0.5, growth: 1 },                                                                        \n    value: { trending: 0.5, gainers: 0.5, losers: 1.3, undervalued: 2, growth: 0.8 },                                                                           \n    swing: { trending: 1, gainers: 1, losers: 1.5, undervalued: 1, growth: 1 },                                                                                 \n    scalping: { trending: 1.5, gainers: 1.5, losers: 1, undervalued: 0.3, growth: 0.5 }                                                                         \n  };                                                                                                                                                            \n                                                                                                                                                                \n  const hScores = horizonScores[profile.horizon];                                                                                                               \n  const rMults = riskMultipliers[profile.risk_tolerance];                                                                                                       \n  const sMods = styleModifiers[profile.trading_style];                                                                                                          \n                                                                                                                                                                \n  function getVolatilityBonus(changePercent) {                                                                                                                  \n    const abs = Math.abs(changePercent);                                                                                                                        \n    if (abs >= 10) return hScores.volatilityBonus * rMults.volatility * 3;                                                                                      \n    if (abs >= 5) return hScores.volatilityBonus * rMults.volatility * 2;                                                                                       \n    if (abs >= 3) return hScores.volatilityBonus * rMults.volatility;                                                                                           \n    return 0;                                                                                                                                                   \n  }                                                                                                                                                             \n                                                                                                                                                                \n  function parseYahooQuotes(data) {                                                                                                                             \n    const quotes = data?.finance?.result?.[0]?.quotes || [];                                                                                                    \n    return quotes                                                                                                                                               \n      .filter(q => q.regularMarketPrice && q.regularMarketPrice >= 1)                                                                                           \n      .map(q => ({                                                                                                                                              \n        symbol: q.symbol,                                                                                                                                       \n        name: q.longName || q.shortName || q.symbol,                                                                                                            \n        price: q.regularMarketPrice || 0,                                                                                                                       \n        changePercent: q.regularMarketChangePercent || 0,                                                                                                       \n        volume: q.regularMarketVolume || 0,                                                                                                                     \n        sector: q.sector || undefined                                                                                                                           \n      }));                                                                                                                                                      \n  }                                                                                                                                                             \n                                                                                                                                                                \n  const candidateMap = new Map();                                                                                                                               \n                                                                                                                                                                \n  function addCandidates(stocks, source, baseScoreKey) {                                                                                                        \n    const baseScore = hScores[baseScoreKey] * sMods[baseScoreKey] * (source === 'losers' ? rMults.losers : 1);                                                  \n                                                                                                                                                                \n    for (const stock of stocks) {                                                                                                                               \n      // Skip excluded symbols                                                                                                                                  \n      if (excludedSymbols.has(stock.symbol)) {                                                                                                                  \n        console.log('Skipping excluded symbol:', stock.symbol);                                                                                                 \n        continue;                                                                                                                                               \n      }                                                                                                                                                         \n                                                                                                                                                                \n      if (!stock.price || stock.price < 1) continue;                                                                                                            \n                                                                                                                                                                \n      let score = baseScore + getVolatilityBonus(stock.changePercent);                                                                                          \n                                                                                                                                                                \n      if (profile.horizon === 'short' && profile.risk_tolerance === 'aggressive' && Math.abs(stock.changePercent) >= 5) {                                       \n        score += 3;                                                                                                                                             \n      }                                                                                                                                                         \n                                                                                                                                                                \n      const existing = candidateMap.get(stock.symbol);                                                                                                          \n      if (existing) {                                                                                                                                           \n        existing.score += score;                                                                                                                                \n        existing.sources.push(source);                                                                                                                          \n      } else {                                                                                                                                                  \n        candidateMap.set(stock.symbol, { ...stock, sources: [source], score });                                                                                 \n      }                                                                                                                                                         \n    }                                                                                                                                                           \n  }                                                                                                                                                             \n                                                                                                                                                                \n  // Process Yahoo data                                                                                                                                         \n  for (const item of yahooData) {                                                                                                                               \n    const data = item.json;                                                                                                                                     \n    if (!data || !data.finance) continue;                                                                                                                       \n                                                                                                                                                                \n    const quotes = parseYahooQuotes(data);                                                                                                                      \n    if (quotes.length === 0) continue;                                                                                                                          \n                                                                                                                                                                \n    const title = data.finance.result[0]?.title || '';                                                                                                          \n                                                                                                                                                                \n    if (title.includes('Trending')) {                                                                                                                           \n      addCandidates(quotes, 'trending', 'trending');                                                                                                            \n    } else if (title.includes('Gainers')) {                                                                                                                     \n      addCandidates(quotes, 'gainers', 'gainers');                                                                                                              \n    } else if (title.includes('Losers')) {                                                                                                                      \n      addCandidates(quotes, 'losers', 'losers');                                                                                                                \n    } else if (title.includes('Most Actives') || title.includes('Most Active')) {                                                                               \n      addCandidates(quotes, 'active', 'active');                                                                                                                \n    } else if (title.includes('Undervalued')) {                                                                                                                 \n      addCandidates(quotes, 'undervalued', 'undervalued');                                                                                                      \n    } else if (title.includes('Growth') || title.includes('Technology')) {                                                                                      \n      addCandidates(quotes, 'growth', 'growth');                                                                                                                \n    }                                                                                                                                                           \n  }                                                                                                                                                             \n                                                                                                                                                                \n  const topCandidates = Array.from(candidateMap.values())                                                                                                       \n    .sort((a, b) => b.score - a.score)                                                                                                                          \n    .slice(0, 10);                                                                                                                                              \n                                                                                                                                                                \n  console.log('Total candidates:', candidateMap.size);                                                                                                          \n  console.log('Top 10 candidates:', topCandidates.length);                                                                                                      \n  console.log('Excluded:', excludedSymbols.size, 'symbols');                                                                                                    \n                                                                                                                                                                \n  return [{ json: { profileId: profile.id, candidates: topCandidates } }];   "
      },
      "id": "80e61dc9-6233-40c5-9604-759fff6074f0",
      "name": "Score & Filter Candidates",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": " const data = $input.first().json;                                                                                                                       \n  const candidates = data.candidates;                                                                                                                     \n                                                                                                                                                          \n  if (!candidates || candidates.length === 0) {                                                                                                           \n    return [{ json: { profileId: data.profileId, suggestions: [] } }];                                                                                    \n  }                                                                                                                                                       \n                                                                                                                                                          \n  // Format candidates for Claude                                                                                                                         \n  const candidatesText = candidates.map((c, i) => {                                                                                                       \n    const price = c.price != null ? c.price.toFixed(2) : 'N/A';                                                                                           \n    const changePercent = c.changePercent != null ? c.changePercent.toFixed(2) : 'N/A';                                                                   \n    const volume = c.volume != null ? c.volume.toLocaleString() : 'N/A';                                                                                  \n    const score = c.score != null ? c.score.toFixed(1) : 'N/A';                                                                                           \n                                                                                                                                                          \n    return `${i+1}. ${c.symbol} - ${c.name}\\n   Price: $${price} | Change: ${changePercent}%\\n   Volume: ${volume} | Sector: ${c.sector || 'N/A'}\\n       \n  Sources: ${c.sources.join(', ')} | Score: ${score}`;                                                                                                    \n  }).join('\\n\\n');                                                                                                                                        \n                                                                                                                                                          \n  return [{ json: { ...data, candidatesText } }];      "
      },
      "id": "567da4ad-e5c2-4c7c-9a20-b924da7e711f",
      "name": "Format for Claude",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": " const formatData = $('Format for Claude').first().json;                                                                                                       \n  const profileId = formatData.profileId;                                                                                                                       \n  const claudeResponse = $input.first().json.content[0].text;                                                                                                   \n                                                                                                                                                                \n  try {                                                                                                                                                         \n    // Il JSON è già pulito, basta parsarlo                                                                                                                     \n    const suggestions = JSON.parse(claudeResponse);                                                                                                             \n    console.log('✅ Parsed ' + suggestions.length + ' suggestions in italiano for profile ' + profileId);                                                       \n    return [{ json: { profileId, suggestions } }];                                                                                                              \n  } catch (e) {                                                                                                                                                 \n    console.error('Failed to parse Claude response:', e.message);                                                                                               \n    console.error('Response was:', claudeResponse.substring(0, 200));                                                                                           \n    return [{ json: { profileId, suggestions: [] } }];                                                                                                          \n  }                                                                                "
      },
      "id": "ba9ab117-869e-4515-b9cb-87a06514ed9a",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1248,
        32
      ]
    },
    {
      "parameters": {
        "jsCode": "  // Get data from Parse Claude Response node                                                                                                                   \n  const data = $('Parse Claude Response').first().json;                                                                                                         \n                                                                                                                                                                \n  console.log('DEBUG - Received data:', JSON.stringify(data, null, 2));                                                                                         \n                                                                                                                                                                \n  const suggestions = data.suggestions;                                                                                                                         \n  const profileId = data.profileId;                                                                                                                             \n                                                                                                                                                                \n  console.log('DEBUG - profileId:', profileId);                                                                                                                 \n  console.log('DEBUG - suggestions count:', suggestions?.length);                                                                                               \n                                                                                                                                                                \n  if (!suggestions || suggestions.length === 0) {                                                                                                               \n    return [{ json: { success: true, count: 0, message: 'No suggestions generated' } }];                                                                        \n  }                                                                                                                                                             \n                                                                                                                                                                \n  if (!profileId) {                                                                                                                                             \n    throw new Error('Missing profileId! Data: ' + JSON.stringify(data));                                                                                        \n  }                                                                                                                                                             \n                                                                                                                                                                \n  function escapeSql(str) {                                                                                                                                     \n    if (!str) return '';                                                                                                                                        \n    return str.toString().replace(/'/g, \"''\");                                                                                                                  \n  }                                                                                                                                                             \n                                                                                                                                                                \n  const items = [];                                                                                                                                             \n  for (const sugg of suggestions) {                                                                                                                             \n    items.push({                                                                                                                                                \n      json: {                                                                                                                                                   \n        profileId: profileId,  // Use the extracted profileId                                                                                                   \n        symbol: escapeSql(sugg.symbol),                                                                                                                         \n        name: escapeSql(sugg.name || sugg.symbol),                                                                                                              \n        reason: escapeSql(sugg.reason),                                                                                                                         \n        confidence: escapeSql(sugg.confidence),                                                                                                                 \n        expectedProfit: sugg.expectedProfit || 0,                                                                                                               \n        riskLevel: escapeSql(sugg.riskLevel || 'medium'),                                                                                                       \n        timeframe: escapeSql(sugg.timeframe || 'medium')                                                                                                        \n      }                                                                                                                                                         \n    });                                                                                                                                                         \n  }                                                                                                                                                             \n                                                                                                                                                                \n  console.log('Preparing ' + items.length + ' suggestions for profile ' + profileId);                                                                           \n  return items;                                                                                                                                                 \n                                                                                                                                                  "
      },
      "id": "a5a3918a-6b65-469e-975e-1fcd1de1bea1",
      "name": "Prepare DB Inserts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        32
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " WITH asset_upsert AS (                                                                                                                                        \n    INSERT INTO assets (id, symbol, name, type, currency, created_at, updated_at)                                                                               \n    VALUES (                                                                                                                                                    \n      'c' || substr(md5(random()::text || clock_timestamp()::text), 1, 24),                                                                                     \n      '{{ $json.symbol }}',                                                                                                                                     \n      '{{ $json.name }}',                                                                                                                                       \n      'stock',                                                                                                                                                  \n      'USD',                                                                                                                                                    \n      NOW(),                                                                                                                                                    \n      NOW()                                                                                                                                                     \n    )                                                                                                                                                           \n    ON CONFLICT (symbol) DO UPDATE                                                                                                                              \n      SET name = EXCLUDED.name, updated_at = NOW()                                                                                                              \n    RETURNING id                                                                                                                                                \n  ),                                                                                                                                                            \n  asset_id AS (                                                                                                                                                 \n    SELECT id FROM asset_upsert                                                                                                                                 \n    UNION ALL                                                                                                                                                   \n    SELECT id FROM assets WHERE symbol = '{{ $json.symbol }}'                                                                                                   \n    LIMIT 1                                                                                                                                                     \n  )                                                                                                                                                             \n  INSERT INTO trading_suggestions (                                                                                                                             \n    id,                                                                                                                                                         \n    profile_id,                                                                                                                                                 \n    asset_id,                                                                                                                                                   \n    reason,                                                                                                                                                     \n    confidence,                                                                                                                                                 \n    expected_profit,                                                                                                                                            \n    risk_level,                                                                                                                                                 \n    timeframe,                                                                                                                                                  \n    status,                                                                                                                                                     \n    criteria                                                                                                                                                    \n  )                                                                                                                                                             \n  SELECT                                                                                                                                                        \n    'c' || substr(md5(random()::text || clock_timestamp()::text), 1, 24),                                                                                       \n    '{{ $json.profileId }}',                                                                                                                                    \n    asset_id.id,                                                                                                                                                \n    '{{ $json.reason }}',                                                                                                                                       \n    '{{ $json.confidence }}',                                                                                                                                   \n    {{ $json.expectedProfit }}::numeric,                                                                                                                        \n    '{{ $json.riskLevel }}',                                                                                                                                    \n    '{{ $json.timeframe }}',                                                                                                                                    \n    'pending',                                                                                                                                                  \n    '{}'::jsonb                                                                                                                                                 \n  FROM asset_id                                                                                                                                                 \n  WHERE asset_id.id IS NOT NULL                                                                                                                                 \n  ON CONFLICT DO NOTHING                                                                                                                                        \n  RETURNING id                           ",
        "options": {}
      },
      "id": "97d0c3f8-9f9a-4991-8a24-f590338dad91",
      "name": "Insert Suggestion",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        1920,
        32
      ],
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allItems = $input.all();                                                                                                                          \n  const inserted = allItems.filter(i => i.json && i.json.id);                                                                                             \n  const userId = $('Extract UserId').first().json.userId;                                                                                                 \n                                                                                                                                                          \n  console.log('Build Response: received ' + allItems.length + ' items');                                                                                  \n  console.log('Successfully inserted: ' + inserted.length);                                                                                               \n                                                                                                                                                          \n  return [{                                                                                                                                               \n    json: {                                                                                                                                               \n      success: true,                                                                                                                                      \n      count: inserted.length,                                                                                                                             \n      message: `Generated ${inserted.length} suggestions`,                                                                                                \n      userId                                                                                                                                              \n    }                                                                                                                                                     \n  }];              "
      },
      "id": "0bbef447-6d21-4788-ba23-d778e1479add",
      "name": "Build Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2144,
        32
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "a0b10058-3d35-4774-954f-42c8102adf63",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2816,
        -64
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": " SELECT DISTINCT a.symbol                                                                                                                                      \n  FROM trading_suggestions ts                                                                                                                                   \n  JOIN assets a ON a.id = ts.asset_id                                                                                                                           \n  WHERE ts.profile_id = '{{ $(\"Get Trading Profile\").first().json.id }}'                                                                                        \n  AND (                                                                                                                                                         \n    -- Sempre escludi pending                                                                                                                                   \n    ts.status = 'pending'                                                                                                                                       \n    OR                                                                                                                                                          \n    -- Sempre escludi accepted (non vengono MAI riproposti)                                                                                                     \n    ts.status = 'accepted'                                                                                                                                      \n    OR                                                                                                                                                          \n    -- Escludi dismissed se resuggestDismissedAfterDays > 0 e sono recenti                                                                                      \n    (                                                                                                                                                           \n      ts.status = 'dismissed'                                                                                                                                   \n      AND COALESCE(NULLIF('{{ $(\"Get Trading Profile\").first().json.resuggestDismissedAfterDays }}', 'undefined'), '7')::int > 0                                \n      AND ts.dismissed_at > NOW() - INTERVAL '1 day' * COALESCE(NULLIF('{{ $(\"Get Trading Profile\").first().json.resuggestDismissedAfterDays }}', 'undefined'), \n  '7')::int                                                                                                                                                     \n    )                                                                                                                                                           \n  )                  ",
        "options": {}
      },
      "id": "ee0a8de1-6914-4a12-a0f7-a65c03fc5746",
      "name": "Get Excluded Symbols",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.4,
      "position": [
        0,
        128
      ],
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    },
    {
      "parameters": {
        "jsCode": " // Get profile data                                                                                                                                           \n  // Get profile data                                                                                                                                     \n  const profileData = $input.first().json;                                                                                                                \n  const profileId = profileData.id;                                                                                                                       \n                                                                                                                                                          \n  console.log('🔍 Fetch Yahoo Data - Profile ID:', profileId);                                                                                            \n                                                                                                                                                          \n  // Define all Yahoo Finance sources                                                                                                                     \n  const sources = [                                                                                                                                       \n    { id: 'day_gainers', title: 'Day Gainers' },                                                                                                          \n    { id: 'day_losers', title: 'Day Losers' },                                                                                                            \n    { id: 'most_actives', title: 'Most Actives' },                                                                                                        \n    { id: 'undervalued_large_caps', title: 'Undervalued Large Caps' },                                                                                    \n    { id: 'growth_technology_stocks', title: 'Growth Technology Stocks' },                                                                                \n    { id: 'trending', title: 'Trending Stocks' }                                                                                                          \n  ];                                                                                                                                                      \n                                                                                                                                                          \n  const results = [];                                                                                                                                     \n                                                                                                                                                          \n  try {                                                                                                                                                   \n    // Fetch from all sources in parallel                                                                                                                 \n    const promises = sources.map(async (source) => {                                                                                                      \n      const yahooUrl = `https://query2.finance.yahoo.com/v1/finance/screener/predefined/saved?scrIds=${source.id}&count=20`;                              \n                                                                                                                                                          \n      console.log(`📡 Fetching ${source.title}...`);                                                                                                      \n                                                                                                                                                          \n      try {                                                                                                                                               \n        const response = await this.helpers.httpRequest({                                                                                                 \n          method: 'GET',                                                                                                                                  \n          url: yahooUrl,                                                                                                                                  \n          headers: {                                                                                                                                      \n            'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36'                                                                  \n          },                                                                                                                                              \n          json: true                                                                                                                                      \n        });                                                                                                                                               \n                                                                                                                                                          \n        if (response.finance && response.finance.result && response.finance.result[0]) {                                                                  \n          const result = response.finance.result[0];                                                                                                      \n          // Override title to ensure correct categorization                                                                                              \n          result.title = source.title;                                                                                                                    \n          console.log(`✅ ${source.title}: ${result.quotes?.length || 0} quotes`);                                                                        \n          return { finance: { result: [result] } };                                                                                                       \n        }                                                                                                                                                 \n      } catch (error) {                                                                                                                                   \n        console.error(`❌ Error fetching ${source.title}:`, error.message);                                                                               \n      }                                                                                                                                                   \n                                                                                                                                                          \n      return null;                                                                                                                                        \n    });                                                                                                                                                   \n                                                                                                                                                          \n    // Wait for all requests to complete                                                                                                                  \n    const responses = await Promise.all(promises);                                                                                                        \n                                                                                                                                                          \n    // Filter out failed requests and return successful ones                                                                                              \n    const successfulResults = responses.filter(r => r !== null);                                                                                          \n                                                                                                                                                          \n    console.log(`✅ Successfully fetched ${successfulResults.length}/${sources.length} sources`);                                                         \n                                                                                                                                                          \n    return successfulResults.map(r => ({ json: r }));                                                                                                     \n                                                                                                                                                          \n  } catch (error) {                                                                                                                                       \n    console.error('❌ Error in Fetch Yahoo Data:', error.message);                                                                                        \n    throw error;                                                                                                                                          \n  }                                                                    "
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        -16
      ],
      "id": "9265dfea-8210-46c2-a36b-100e5b503965",
      "name": "Fetch Yahoo Data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -1120,
        64
      ],
      "id": "677213f8-d386-4384-bf5f-c24edad033f9",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        224,
        32
      ],
      "id": "6e45ee41-67fc-4f60-8f46-64a29eaa6892",
      "name": "Merge"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "claude-3-5-haiku-20241022",
          "mode": "list",
          "cachedResultName": "claude-3-5-haiku-20241022"
        },
        "messages": {
          "values": [
            {
              "content": "Sei un analista finanziario esperto italiano. Rispondi sempre in italiano con analisi chiare e professionali.   "
            },
            {
              "content": "=Analizza questi candidati di trading e fornisci 5-7 suggerimenti azionabili.                                                                                \n                                                                                                                                                                \n  CANDIDATI:                                                                                                                                                    \n  {{ $json.candidatesText }}                                                                                                                                    \n                                                                                                                                                                \n  Per ogni suggerimento fornisci in formato JSON:                                                                                                               \n  - symbol: codice azione                                                                                                                                       \n  - name: nome società                                                                                                                                          \n  - recommendation: BUY o WATCH                                                                                                                                 \n  - reason: motivazione IN ITALIANO (2-3 frasi)                                                                                                                 \n  - expectedProfit: target %                                                                                                                                    \n  - riskLevel: low/medium/high                                                                                                                                  \n  - timeframe: days/weeks/months                                                                                                                                \n  - confidence: high/medium/low                                                                                                                                 \n                                                                                                                                                                \n  Rispondi SOLO con un array JSON valido.                                                                                                                       \n    - Response Format: JSON                                                  "
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.anthropic",
      "typeVersion": 1,
      "position": [
        896,
        32
      ],
      "id": "6f82b562-2c27-4818-9bb1-5e53519b8d00",
      "name": "Message a model",
      "credentials": {
        "anthropicApi": {
          "id": "sseG3IlRp6EzlNXj",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "69c94bee-c271-4860-b545-084f800f6adb",
              "leftValue": "={{ $json.userId }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "empty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2368,
        32
      ],
      "id": "0f38fa95-17f0-4185-b0e3-ac78f32d7666",
      "name": "If1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3001/api/internal/trading/suggestions/notify/{{ $json.userId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-internal-key",
              "value": "financy-internal-key"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={}",
        "options": {}
      },
      "id": "331db88d-aa0d-4521-b97e-7459969b0b9b",
      "name": "Send Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2592,
        112
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "                                                                       \n  DELETE FROM trading_suggestions                                                                                                                               \n  WHERE profile_id = '{{ $json.profileId }}'                                                                                                                    \n  AND status = 'pending'                                                                                                                                        \n  RETURNING id     ",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1424,
        128
      ],
      "id": "5b26a7c7-7b49-48c0-ae1b-5b39cb8898b4",
      "name": "Delete Old Pending Suggestions",
      "credentials": {
        "postgres": {
          "id": "4TJGRUqJn4Ecu5op",
          "name": "Financy DB"
        }
      }
    }
  ],
  "pinData": {
    "When clicking ‘Execute workflow’": [
      {
        "json": {
          "headers": {
            "host": "127.0.0.1:5678",
            "connection": "keep-alive",
            "content-type": "application/json",
            "accept": "*/*",
            "accept-language": "*",
            "sec-fetch-mode": "cors",
            "user-agent": "node",
            "accept-encoding": "gzip, deflate",
            "content-length": "38"
          },
          "params": {},
          "query": {},
          "body": {
            "userId": "cmkzlyxz20000atvnb10yeu6g"
          },
          "webhookUrl": "http://localhost:5678/webhook/trading-suggestions",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Extract UserId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract UserId": {
      "main": [
        [
          {
            "node": "Get Trading Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Trading Profile": {
      "main": [
        [
          {
            "node": "Fetch Yahoo Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Excluded Symbols",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Score & Filter Candidates": {
      "main": [
        [
          {
            "node": "Format for Claude",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format for Claude": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Delete Old Pending Suggestions",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare DB Inserts": {
      "main": [
        [
          {
            "node": "Insert Suggestion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert Suggestion": {
      "main": [
        [
          {
            "node": "Build Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Response": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Excluded Symbols": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Yahoo Data": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Extract UserId",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Score & Filter Candidates",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Notification": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Pending Suggestions": {
      "main": [
        [
          {
            "node": "Prepare DB Inserts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "a09c44fb-bb46-40f5-89b1-92c2dbcd7a7d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e1a09f406429ab5b016baecc90e64a896f2b758f797fb2fd34980cd5a482bcd8"
  },
  "id": "NBIdjpZeUokJAsQ_mgxXj",
  "tags": []
}